.explanation-img{
  background-image: url(https://cdn.pixabay.com/photo/2016/10/30/14/03/background-1783236_1280.jpg);
  background-size:cover; 
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.explanation-title{
  font-family: 'klee', sans-serif;
  text-align: center; 
  margin-top: -10px;
  font-size: 60px;
  color: white;
}

.explanation-sentence{
  padding-top: 10px;
  text-align: center;
  font-size: 30px;  
  font-family: 'klee', sans-serif;
  margin-top: 60px;
  color:white;
}


@media (max-width: 500px) {
  .explanation-title{
    font-size: 35px;
    
  }
 
  .explanation-sentence{
    font-size: 22px;
    color: rgb(5, 5, 5);
  }
 }