.show-header{
background-image: url(https://cdn.pixabay.com/photo/2016/07/08/08/59/background-1503863_1280.png);
display: flex;
justify-content: space-around;
height: 100px;
align-items: center;
font-family: 'Arial Unicode MS', sans-serif;
width: 100VW;
margin-top: -45px;
}

.title{
  font-size: 40px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

.search{
  display: flex;
}

.form-word{
  width: 500px;
  height: 50px;
}

.form-submit {
  height: 50px;
}

.lists-right{
  display: flex;
  font-size: 20px;
}

.post{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.user-nickname{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.logout{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.login{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.sign-up{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 40px;
}


