<div class="test">
  <div class="explanation-title">
    その広告、間違ってませんか
  </div>
  <div class="explanation-sentence">
    web広告が主流となってきた昨今<br>インフルエンサーに依頼したい<br>ただ誰に依頼すればいいのか<br>どうやって探す<br>どこに連絡する<br>信頼出来るのか<br>情報をオープンにすることで全て解決します<br>企業にあったインフルエンサーを選んでください
  </div>
</div>
