.total{
  padding: 10vh 15vw;
  background-color:yellowgreen;
}

/* 画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
/* 画像 */

/* アカウント名と特徴 */
.new-profile {
  padding: 2vh 0;
}

.profile-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.profile-explain {
  margin-top: 2vh;
}
/* /アカウント名と特徴 */

/* Instagram */
.insta-detail{
}

.age{
  display: block;
}
/* Instagram */

/* Youtube */
.youtube-detail{
}
/* Youtube */

/* 下部ボタン */
.post-btn-contents{
  width: 100%;
  text-align: center;
}

.post-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
/* 下部ボタン */

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.any{
  background: #929090;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* 共通 */