/* 共通 */
.hr {
  color: #999;
}

.category{
  font-size: 30px;
}

/* 共通 */

.profile-lists{
  display: block;
  width: 100%;
}

.profile-name{
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.category1{
  display: flex;
  overflow: scroll;
}

.category2{
  display: flex;
  overflow: scroll;
}

.category3{
  display: flex;
  overflow: scroll;
}

.category4{
  display: flex;
  overflow: scroll;
}

.category5{
  display: flex;
  overflow: scroll;
}

.category6{
  display: flex;
  overflow: scroll;
}

.category7{
  display: flex;
  overflow: scroll;
}

.category8{
  display: flex;
  overflow: scroll;
}

.category9{
  display: flex;
  overflow: scroll;
}

.category10{
  display: flex;
  overflow: scroll;
}

.category11{
  display: flex;
  overflow: scroll;
}
.item-img-content{
    border:2px solid #999;
    padding:3px;
}