.back{
  width: 100vw;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2012/02/24/16/58/colorful-16725_1280.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  margin-top: -21px;
}

.total{
  /* position: relative;          位置指定 */
  padding: 40px;               /* 余白指定 */
  /* top:  150px;                     位置指定 */
  /* bottom:  0;                  位置指定 */
  /* left:  0;                    /* 位置指定 */
  /* right:  0;                   位置指定 */ 
  /* margin: 0 auto;               中央寄せ */
  width:  40%;               /* 幅指定 */
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgba(250, 248, 248,0.8);
  /* margin-top: -45px; */
}

/* 画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
/* 画像 */

/* アカウント名と特徴 */
.new-profile {
  padding: 1vh 0;
  text-align: center;
}

.profile-text {
  width: 80%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.profile-explain {
  margin-top: 2vh;
}
/* /アカウント名と特徴 */


/* Instagram */
.insta-detail{
  text-align: center;
}

.age{
  display: block;
  font-weight: bold;
}
/* Instagram */

/* Youtube */
.youtube-detail{
  text-align: center;
}
/* Youtube */

/* Twiitr */
.twitter-detail{
  text-align: center;
}
/* Twiitr */

/* 下部ボタン */
.post-btn-contents{
  width: 100%;
  text-align: center;
}

.post-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 81%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
/* 下部ボタン */

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.any{
  background: #929090;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.profile-text{
height: 20%;
width: 90%;
}

.profile-explanation-text{
  height: 100%;
  width: 100%;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* 共通 */

