/* 共通 */
.hr {
  color: #999;
}

.category{
  font-size: 30px;
}

.category a{
  text-decoration: none;
}

/* 共通 */
.top-img{
  background-image: url(https://cdn.pixabay.com/photo/2016/07/08/08/59/background-1503863_1280.png);
  background-size:cover; 
  height: 100vh;
  width: 100vw;
  /* padding-bottom: 6px; */
  /* margin-top: -24px; */
}

.sub-title{
  font-size: 60px;
  color: white;
  font-family: 'klee', sans-serif;
  text-align: center;
  padding-top: 30vh;
}

.main{
  background-color: white;
}

.profile-lists{
  color: black;
}

.profile-name{
  color: black;
  font-size: 20px;
}

.profile-info{
  margin-left: 60px;
}

.profile-explanation-follower{
  font-size: 20px;
  display: block;
  color: black;
}

.item-img-content {
  padding:3px;
  color: #fff;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.item-img-content:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.category-name{
  margin-right: 70px;
  font-size: 30px;
}

.category-gray{
  display: flex;
  height: 100vh;
  overflow: scroll;
  background-color: rgb(243, 243, 242);
}

.category-white{
  display: flex;
  height: 100vh;
  overflow: scroll;
}

@media (max-width: 500px) {
 .category-name{
   font-size: 25px;
   margin-right: 20px;
 }

 .profile-image{
   width: 180px;
   height: 180px;
 }

 .profile-info{
   font-size: 15px;
   margin-left: 0px;
 }

.profile-name{
  text-align: center;
}

.category-gray{
  height: 50vh;
}

.category-white{
  height: 50vh;
}

.sub-title{
  padding-top: 29vh;
}

}
