.edit-total{
  /* position: relative;          位置指定 */
  padding: 40px;               /* 余白指定 */
  width:  40%;               /* 幅指定 */
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgb(250, 248, 248,0.8);
  text-align: center;
}

.item-destroy {
  border: 1px solid #aaa;
  color: white;
  text-decoration: none;
  border: none;
  width: 20%;
}

.edit-btn {
  background: #5faff0;
  border: none;
  color: #fff;
  width: 81%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 4vh;
}

.delete-btn{
  background: rgb(243, 3, 3);
  border: 1px solid #aaa;
  color: #fff;
  padding: 10px 35%;
  margin-top: 4vh;
  border:none;
  width: 11%;
  margin-left:55px;
}