.profile-show{
  text-align:center;
  background-color:white
}

.name{
  font-size: 50px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
}

.profile-img{
  display: flex;
  padding-left: 20%;
}

.explanation {
  font-size: 20px;
  width: 50%;
  background-color: #eeecea;
  color: black;
  margin-left:30px;
  position:relative;
}
.explanation::after {
  content: "";
  border-color: #cecccc #fff #fff #a7a5a4;
  border-style: solid;
  border-width: 0 0 24px 24px;
  bottom: 0;
  position: absolute;
  right: 0;
}

.reference-value{
  margin-left: 18%;
}

.insta-follower{
font-size: 20px;
}

.insta-gender{
font-size: 20px;
}

.insta-age{
  padding-left: 25%;
  font-size: 20px;
}

.insta-age-graph{
  font-size: 20px;
}

.youtube-follower{
  font-size: 20px;
}
  
.youtube-gender{
  font-size: 20px;
}
  
.youtube-age{
  padding-left: 25%;
  font-size: 20px;
}
  
.youtube-age-graph{
  font-size: 20px;
}

.twitter-follower{
  font-size: 20px;
}
  
.twitter-gender{
  font-size: 20px;
}
  
.twitter-age{
  padding-left: 25%;
  font-size: 20px;
}
  
.twitter-age-graph{
  font-size: 20px;
}

.account-btn{
  list-style: none;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 15vw;
}

.account-btn:hover{
  background: #67c5ff;
  color: white;
}

.back-btn-new{
  list-style: none;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 15vw;
  margin-bottom: 20px;
}

.back-btn-new:hover{
  background: #67c5ff;
  color: white;
  margin-bottom: 20px;
}

li{
  display:block;
  }

/* 表 */
th,td {
  border: solid 1px;
}

th {
  width: 100px;
  text-align: left;
}

td {
  text-align: center;
}
/* 表 */

/* タブ */
.tab-area {
  display: flex;
  justify-content: space-around;
  background-color:white;
  cursor: pointer;
}

.tab {
  width: 300px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: black;
  /* border-right: 1px solid #50637b;
  border-left: 1px solid #222e3e; */
  background-color: rgb(176, 216, 243);
  
}

.tab.active {
  background-color: #ccc;
  color: #222e3e;
  border: none;
  
}

.content-area {
  text-align: center;
}

.content {
  display: none;
}
.content.show {
  display: block;
}
/* タブ */