.search-top{
    padding:  10px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    justify-content: space-around;
}

.search-item-img-content a{
  height: 100%;
  width: 90%;
  flex-wrap: wrap;
  align-content:stretch; 
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding:3px;
  display: inline-block;
  padding: 0.6px 2em;
  margin: 0 0 1em;
  text-decoration: none;
}

.search-item-img-content:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

