h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}


.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-room-total{
  margin-left: 80px;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 46%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.open-room{
  padding: 15px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
  text-decoration: none;
  margin-left: 20px;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 100%px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}

#room_name{
  width: 50%;
}


@media (max-width: 500px) {
 .chat-room-form{
   width: 100vw;
   display: flex;
   flex-flow: column;
   border:none;
 }

 .chat-room-total{
   width: 100%;
   margin-left: 0px;
   justify-content: flex-start;
   align-items: space-around;
 }

#room_name{
  width: 100%;
}

.chat-room-form__label{
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.chat-room-form__field--left {
  width: 100%;
  padding-right: 65px;
}

.chat-room-form__field--right{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.open-room{
  margin-left: 0px;
  margin-top: 20px;
}

  }
