.Signup{
  width: 100vw;
  height: 190vh;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/07/10/09/triangle-2724452_1280.png);
  background-size:cover; 
  color: rgb(white);
  align-items: center;
}

.SignupMain{
  position: relative;          /* 位置指定 */
  padding: 20px;               /* 余白指定 */
  top:  150px;                     /* 位置指定 */
  bottom:  0;                  /* 位置指定 */
  left:  0;                    /* 位置指定 */
  right:  0;                   /* 位置指定 */
  margin:  auto;               /* 中央寄せ */
  width:  40%;               /* 幅指定 */
  height: 1100px;  
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgb(250, 248, 248,0.8);
}

.input-default{
  width: 470px;
  height: 60px;
}

.signup-btn{
  color: black;
  background-color: white;
  width: 470px;
}