.Signup{
  width: 100vw;
  height: 190vh;
  display: flex;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/07/10/09/triangle-2724452_1280.png);
  background-size:cover; 
  color: black;
  align-items: center;
}

.SignupMain{ 
  margin:  auto;
  width:  40%;
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgba(250, 248, 248,0.8);
}

.input-default{
  width: 470px;
  height: 60px;
}

.signup-btn{
  color: black;
  background-color: white;
  width: 470px;
}

@media (max-width: 500px) {
  .SignupMain{
    width: 70vw;
  }

  .input-default{
    width: 90%;
  }

  .signup-btn{
    width: 90%;
  }
  }
 