.SignTop{
  width: 100vw;
  height: 103vh;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/01/09/56/colorful-2703594_1280.jpg);
  background-size: cover;
  color: black;
  align-items: center;
  margin-top: -45px;
}

.SignMain{
  position: relative;          /* 位置指定 */
  padding: 20px;               /* 余白指定 */
  top:  150px;                     /* 位置指定 */
  bottom:  0;                  /* 位置指定 */
  left:  0;                    /* 位置指定 */
  right:  0;                   /* 位置指定 */
  margin:  auto;               /* 中央寄せ */
  width:  40%;               /* 幅指定 */
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgba(250, 248, 248,0.8);
}

.signshared{
  color: black;
  text-decoration: none;
}

.sign-btn{
  color: black;
  background-color: white;
  width: 240px;
}
