.SignTop{
  width: 100vw;
  height: 103vh;
  display: flex;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/09/01/09/56/colorful-2703594_1280.jpg);
  background-size: cover;
  color: black;
  align-items: center;
}

.SignMain{
  margin:  auto;
  width:  40%;
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color:rgba(250, 248, 248,0.8);
}

.signshared{
  color: black;
  text-decoration: none;
}

.sign-btn{
  color: black;
  background-color: white;
  width: 240px;
}

@media (max-width: 500px) {
 
.SignMain{
  width: 70vw;
}

#user_email{
  width: 90%;
}

#user_password{
  width: 90%;
}

.sign-btn{
  width: 90%;
}

  }
