.SignTop{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(43, 43, 214);
  color: antiquewhite;
  align-items: center;
  
}

.SignMain{
  position: absolute;          /* 位置指定 */
  padding: 20px;               /* 余白指定 */
  top:  0;                     /* 位置指定 */
  bottom:  0;                  /* 位置指定 */
  left:  0;                    /* 位置指定 */
  right:  0;                   /* 位置指定 */
  margin:  auto;               /* 中央寄せ */
  width:  40%;               /* 幅指定 */
  height: 300px;  
  font-size: 20px;
  box-shadow: 0 0 64px rgba(0,0,0,0.5);
  background-color: rgb(54, 44, 187);
}

.signshared{
  color: white;
  text-decoration: none;
}

.sign-btn{
  color: black;
  background-color: white;
  width: 240px;
}
